.all-camps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10rem auto;
  max-width: 1280px;
}

.camp-card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  overflow: hidden;
}

.camp-card-image {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.camp-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.camp-card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.camp-card-location {
  font-size: 18px;
  margin-bottom: 10px;
}

.camp-card-summary {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.camp-card-button {
  display: block;
  margin: 0 auto;
  background-color: #66bf60;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.camp-card-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
