.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal-content {
  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  font-size: 3rem;
}
