.find-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.find-form {
  margin-bottom: 3rem;
}
