.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.input,
.textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #66bf60;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
